<div class="container-fluid" *ngIf="mediaSize !== 'xs'">

  <div class="row h-100">
    <div class="col-12 col-md-9" style="height: calc(100vh - 52px)">

      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center tab-labels text-light">
          <span class="mr-2">Activity </span>
          <mat-spinner [diameter]="20" color="accent" *ngIf="eof === 'loading'"></mat-spinner>
        </div>
      </div>

      <div class="row adjust-scroll-height" appScrollDetect>
        <div class="card w-100 my-2 mx-1 mx-md-3 shadow" *ngFor="let post of posts; let i = index; trackBy: trackByStatusId">
          <div class="card-body">
            <div *ngIf="i >= 10" class="col-12 text-center">
              <button matTooltip="Archived" disabled mat-icon-button >
                <mat-icon>archive</mat-icon> Archived
              </button>
            </div>
            <div class="card-title">
              <div class="font-weight-bold card-title-text">{{post.title}}
              </div>
              <div class="card-subtitle text-muted">
                {{(post.date != null) ? (post.date.toDate() | date: 'dd MMM yy'):""}}
              </div>
            </div>

            <img *ngIf="post.photo" class="card-img-top" [src]="post.photo" alt="Image could not be loaded.">
            <div *ngIf="post.link" class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" [src]="post.link | sanitize" allowfullscreen></iframe>
            </div>
            <app-editor *ngIf="post.code" [code]="post.code" [mode]="post.language"></app-editor>

            <p class="card-text mt-2">{{post.status}}</p>
          </div>
          <app-comment-box [postCount]="i" type="post" [postData]="post"></app-comment-box>
        </div>
      </div>

    </div>
    <div *ngIf="mediaSize !== 'xs'" class="col-3 bg-secondary">
      <div class="row">
        <div class="col-12 tab-labels text-light text-center">Live Chat</div>
      </div>
    </div>
  </div>
</div>

<mat-tab-group *ngIf="mediaSize === 'xs'" mat-align-tabs="center">
  <mat-tab label="Activity">
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-12 d-flex justify-content-center py-2 position-fixed" style="top: 50vh; z-index: 1;" *ngIf="eof === 'loading'">
          <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="col-12 col-md-8" style="height: calc(100vh)">
          <div appScrollDetect class="row adjust-scroll-height justify-content-center"
            style="height: calc(100vh - 105px) !important;">
            <div class="card w-100 my-2 mx-1 mx-md-3 shadow"
              *ngFor="let post of posts; let i = index;trackBy: trackByStatusId">
              <div class="card-body">
                <div class="card-title">
                  <div class="font-weight-bold card-title-text">{{post.title}}</div>
                  <div class="card-subtitle text-muted">
                    {{(post.date != null) ? (post.date.toDate() | date: 'dd MMM yy'):""}}
                  </div>
                </div>
                <img *ngIf="post.photo" class="card-img-top" [src]="post.photo" alt="Image could not be loaded.">
                <div *ngIf="post.link" class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" [src]="post.link | sanitize" allowfullscreen></iframe>
                </div>
                <app-editor *ngIf="post.code" [code]="post.code" [mode]="post.language"></app-editor>
                <p class="card-text mt-2">{{post.status}}</p>
              </div>
              <app-comment-box [postCount]="i" type="post" [postData]="post"></app-comment-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Live Chat">
    <div class="container-fluid bg-dark h-100">
      <div class="row" style="height: calc(100vh - 110px);">
          <iframe class="w-100 h-100" src="https://editor.p5js.org/cloud_sting/embed/f4D1V948p"></iframe>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
